{% extends 'main.html' %}
{% block content %}
{% load static %}

<div class="my-circle-main">
    <div class="my-circle-row">
        <div class="chat-left">
            
            <div class="header-left">
                <h4>Circle</h4>
                <i class="fa-solid fa-pen-to-square fa-xl"></i>
                
            </div> 
            <!-- {% for friend in friends %}
            <div class="chat-person-box">
                <img src="{{friend.profile_picture.url}}" class="profile-photo" alt="" srcset=""/>
                <div class="chat-person-text">
                    <h4 id="person-name">{{friend.username}}</h4>
                    <p class="preview-text">{{friend.email}}</p>
                </div>
                <span class="chats-time">13:22</span>
            </div >

            {% endfor %} -->


            
            <!-- <i class="fa-solid fa-magnifying-glass fa-xl"></i> -->
        </div>


        <!-- Center Layout -->
        <div class="chat-center">
            <div class="header-center">
            <img src="{% static 'images/biebersmask.jpg' %}" class="profile-photo-center" alt="" srcset=""/>

            <h4 class="current-chat-heading">Amit Bisht</h4>
            <span></span>
            </div>
            <div class="chat-section">
                <div class="chat-row">
                <div class="chat-col">
                    <div class="chat-bubble-left">
                        Hey boi!
                    </div>

                    <div class="chat-bubble-left">
                        Bta rha hu sudhr ja!
                    </div>
                </div>
                </div>

                <div class="chat-row-right">
                <div class="chat-col-right">
                    <div class="chat-bubble-right">
                        Kya khra h?
                    </div>

                    <div class="chat-bubble-right">
                        Dhng m rhe bhai.
                    </div>

                    <div class="chat-bubble-right">
                        Zindagi hai tedi si
                    </div>
                </div>
                </div>


                <div class="chat-row">
                <div class="chat-col">
                    <div class="chat-bubble-left">
                        Hey boi!
                    </div>

                    <div class="chat-bubble-left">
                        Bta rha hu sudhr ja!
                    </div>
                </div>
                </div>


                <div class="row-chat-input"> 
                    <img src="{% static 'images/Karolis_Inokaitis.jpg'%}" class="profile-photo-ta" alt="" srcset="">
                    <i class="fa-solid fa-image fa-xl" id="send-img"></i>
                    <textarea type="text" placeholder="Message" rows='1' class="message-input" autofocus></textarea>
                    <i class="fa-solid fa-arrow-up" id="send-msg"></i>
                </div>
            </div>
        </div>

        <div class="chat-right">
            <div class="header-right">
            <h4>Events</h4>
            </div>
            <div class="events-body">
                <p> No Events to show currently</p>
            </div>
        </div>
    </div>

</div>

<script src="{% static 'styles/my-circle.js' %}"></script>


{% endblock content%}