{% load static %}
<body>
  <nav>
    <div class="logo">
      <h1><a href="/">Anyth</a></h1>
    </div>

    <ul class="nav-links">
      <!-- <li><a href="">My Circle</a></li>
      <li><a href="{% url 'about-anyth'%}">Life-Su</a></li>
      <li><a href="{% url 'about-anyth'%}"><i style="background-color: transparent;margin: 0 7px;" class="fa-solid fa-user fa-sm"></i>Profile</a></li> -->
      {% if request.user.is_authenticated %}

      <li><a href="{% url 'logout'%}"><i id="logout-icon" class="fa-solid fa-right-from-bracket "></i>Logout</a></li>
      {% else %}
      <li><a href="{% url 'login'%}">Login</a></li>
      {% endif %}
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</body>

<!-- <script src = "{% static 'styles/nav.js' %}"></script> -->
